@import "./base.css";

html {
  scroll-behavior: smooth;
  overflow-x: clip;
  cursor: none;
  scroll-snap-type: y proximity;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* background-image: url("/background-blob.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: 50% 50%; */
}

.cursor-follower {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: rgba(172, 172, 172, 0.7);
  opacity: 1;
  z-index: 10000;
  user-select: none;
  pointer-events: none;
  font-weight: normal;

  /* transition: trans ease-in-out 0.2s, height ease-in-out 0.2s; */
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
  cursor: none;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0 2rem;
  }
}
